* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    
}

header{
    background-color: #343A40;
    display: grid;
    grid-template-columns: repeat(1fr, 3);
    flex-direction: column;
    align-items: center;
}

h1{
    grid-column: 2;
    text-align: center;
    color: gray;
    font-size: 3rem;
}

a{
    grid-row: 2;
    grid-column: 3;
    text-align: center;
    color: gray;
    margin-bottom: 5px;
}

main{
    height: 190vh;
}

.searchBar{
    display: flex;
    padding-top: 50px;
    justify-content: center;
}

input{
    width: 500px;
}

.fiches{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;       
    
}

.info{
    border-radius: 20px;
    width: 350px;
    height: 250px;
    background-color: aqua;
    margin: auto;
    display: grid;
    grid-template-columns: 150px 200px; 
}

.id{
    padding-left: 5px;
    grid-column: 1;
    grid-row: 1;
    align-self: center;
}

img{
    justify-self: center;
    align-self: center;
    grid-column: 2;
    grid-row: 1;
    width: 190px;
}

.detail{
    height: 25px;
    width: 100px;
    align-self: end;
    border-radius: 1508px;
    margin: 0 0 3px 5px;
}

#prenom, #armure, #technique, #decription {
    margin-bottom: 2px;
    border: 1px solid black;
    border-radius: 5px;
}

.sup, .edit{
    display: none;
}

.pgn{
    margin-top: 50px;
    gap: 5px;
    display: flex;
    justify-content: center;
}

.numPage{
    width: 35px;
    height: 35px;
}

/* #description{
    white-space: pre-wrap;
} */

.perso{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#decription{
    overflow-y: scroll;
    height: 350px;
}

.infoXL{
    border-radius: 25px;
    height: 500px;
    width: 600px;
    background-color: aqua;
    display: grid;
    grid-template-columns: 300px 300px; 
}

.idXL{
    padding-left: 5px;
    grid-column: 1;
    grid-row: 1;
    align-self: center;
}

.imgXL{
    justify-self: center;
    align-self: center;
    grid-column: 2;
    grid-row: 1;
    width: 290px;
}

.retourXL{
    height: 25px;
    width: 100px;
    align-self: end;
    border-radius: 1508px;
    margin: 0 0 5px 7px;

}

.wrapper {
    animation: scroll 70s linear infinite;
    background: url("https://images.unsplash.com/photo-1465146633011-14f8e0781093?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3450&q=80"), #111111;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    
  }
  
  @keyframes scroll {
     100%{
      background-position:0px -3000px;
    }
  }
  
  @media (prefers-reduced-motion) {
    .wrapper {
      animation: scroll 200s linear infinite;
    }
  }