* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
    
}

header{
    background-color: #343A40;
    display: grid;
    grid-template-columns: repeat(1fr, 3);
    flex-direction: column;
    align-items: center;
}

h2{
    grid-column: 2;
    text-align: center;
    color: gray;
    font-size: 3rem;
}

a{
    grid-row: 2;
    grid-column: 3;
    text-align: center;
    color: gray;
    margin-bottom: 5px;
}


.decription{
    white-space: pre-wrap;
}

main{
    /* background-image: linear-gradient(-180deg,#000,#000963); */
    height: 190vh;
    display: flex;
    justify-content: center;
}

.admin{
    margin-top: 50px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 50%;
}